<section class="admin-dashboard-show">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <p>Some general stats about the store:</p>
  <ul>
    <li>Number of products: <%= @product_count %></li>
    <li>Number of categories: <%= @category_count %></li>
  </ul>


</section>
