<section class="user-show">
  <header class="page-header">
    <h1>User Profile</h1>
  </header>

  <% if logged_in? && current_user == @user %>
    <p>Full Name: <%= @user.first_name %> <%= @user.last_name %></p>
    <p>Email: <%= @user.email %></p>
  <% else %>
    <p>You are unauthorized to view this users information</p>
  <% end %>

</section>
